{% extends 'base.html' %}
{% load widget_tweaks  %}
{% block head_title %} Crear Candidato {% endblock %}
{% load static %}
{% block title_page %} CREACIÓN DE NUEVO CANDIDATO {% endblock %}
{% block subtitle_page %} Planilla de Postulación {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Lista Candidato'%}">Listado de Candidatos</a>
</li>
<li class="breadcrumb-item"><a href="#!">Crear Candidato</a>
</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>* Campo Obligatorio</h5>
        <span></span>
        <div class="card-header-right"><i class="icofont icofont-spinner-alt-5"></i></div>
    </div>
    <div class="card-block">
        <form method='POST'>
    {% csrf_token %}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Primer Nombre *</label>
        <div class="col-sm-10">
        {% render_field form.nombre class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Segundo Nombre</label>
        <div class="col-sm-10">
        {% render_field form.segundo_nombre class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Primer Apellido *</label>
        <div class="col-sm-10">
        {% render_field form.apellido class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Segundo Apellido</label>
        <div class="col-sm-10">
        {% render_field form.segundo_apellido class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
        <div class="col-sm-10">
        {% render_field form.fecha_nacimiento class="form-control" type="date" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Edad</label>
        <div class="col-sm-10">
        {% render_field form.edad class="form-control" type="text" name="numeric" id="numeric" %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Género</label>
        <div class="col-sm-10">
        {% render_field form.genero class="form-control" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Número de Cédula</label>
        <div class="col-sm-10">
        {% render_field form.cedula class="form-control" type="text" name="numeric" id="numeric" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Estado Laboral *</label>
        <div class="col-sm-10">
        {% render_field form.status class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ocupación Actual/Última</label>
        <div class="col-sm-10">
        {% render_field form.ocupacion_actual class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Cargo a Optar *</label>
        <div class="col-sm-10">
        {% render_field form.cargo_optar class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">E-mail *</label>
        <div class="col-sm-10">
        {% render_field form.email class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Teléfono *</label>
        <div class="col-sm-10">
        {% render_field form.telefono class="form-control" type="text" name="numeric" id="numeric" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Dirección</label>
        <div class="col-sm-10">
        {% render_field form.direccion rows="3" cols="3" class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Fotografía</label>
        <div class="col-sm-10">
        {% render_field form.imagen  class="form-control" type="file" %}
        </div>
    </div>

    <div class="form-group">
            <input class="btn btn-success btn-round btn-block" type="submit" value="Guardar"></input>
    </div>
</form>
</div>
</div>
</div>
</div>

{% endblock %}