{% extends 'base.html' %}
{% load widget_tweaks  %}
{% block head_title %} Crear Concepto Pago {% endblock %}
{% load static %}
{% block title_page %} MODIFICAR ELEMENTO DE PAGO {% endblock %}
{% block subtitle_page %} {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Lista ElementoPago'%}">Listado de Elementos</a>
</li>
<li class="breadcrumb-item"><a href="#!">Modificar</a>
</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>* Campo Obligatorio</h5>
        <span></span>
        <div class="card-header-right"><i class="icofont icofont-spinner-alt-5"></i></div>
    </div>
    <div class="card-block">
        <form method='POST' >
            {% csrf_token %}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Descripción *</label>
        <div class="col-sm-10">
        {% render_field form.descripcion class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Asignación / Deducción *</label>
        <div class="col-sm-10">
        {% render_field form.codigo_ad class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Fórmula *</label>
        <div class="col-sm-10">
        {% render_field form.codigo_formula class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Frecuencia *</label>
        <div class="col-sm-10">
        {% render_field form.frecuencia class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Tipo *</label>
        <div class="col-sm-10">
        {% render_field form.codigo_fv class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Seleccionar Empleados *</label>
        <div class="col-sm-10">
        {% render_field form.empleado_pago class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group">
            <input class="btn btn-success btn-round" type="submit" value="Guardar"></input>
    </div>
</form>
</div>

</div>

{% endblock %}