{% extends 'base.html' %}
{% load static %}
{% block head_title %} Empleados {% endblock %}

{% block title_page %} LISTADO DEL PERSONAL {% endblock %}
{% block subtitle_page %}  {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Lista Empleado'%}">Listado de Empleados</a>
</li>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h5>Tabla de Información General</h5>
       <div style="text-align: right;"><a href="{%url 'Crear Empleado'%}"><button class="btn btn-primary btn-round">Agregar Nuevo</button></a></div>
    </div>

    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="base-style" class="table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Sueldo</th>
                        <th>Status</th>
                        <th>Familia</th>
                        <th>Educación</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr>
                        <td> <a>{{ object.pk }} </a></td>
                            <td>V-{{ object.cedula }}</td>
                            <td>{{ object.nombre |title }} {{ object.segundo_nombre |title }}</td>
                            <td>{{ object.apellido |title }} {{ object.segundo_apellido|title }}</td>
                            <td>{{ object.codigo_rac.codigo_escala.sueldo }}</td>
                            <td>{{ object.get_status_trabajador_display }}</td>
                        <td><a href="{% url 'Familia Empleado' object.pk %}"><i style="font-size: 20px; margin-right: 15px;"class="feather icon-user-plus"></i></a>
                            </td>
                        <td><a href="{% url 'Educacion Empleado' object.pk %}"><i style="font-size: 20px; margin-right: 15px;"class="feather icon-file-plus"></i></a>
                            </td>
                        <td><a href="{% url 'Ver Empleado' object.pk %}"><i style="font-size: 20px; margin-right: 15px;"class="feather icon-eye"></i></a>
                                <a href="{% url 'Editar Empleado' object.pk %}"><i style="font-size: 20px; margin-right: 15px;" class="feather icon-edit"></i></a>
                                <a href="{% url 'Eliminar Empleado' object.pk %}"><i style="font-size: 20px;" class="feather icon-trash-2"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Sueldo</th>
                        <th>Status</th>
                        <th>Familia</th>
                        <th>Educación</th>
                        <th>Acción</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{{form.errors}}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
{% endblock %}