{% extends 'base.html' %}
{% load widget_tweaks  %}
{% block head_title %} Ficha del Empleado {% endblock %}
{% load static %}
{% block title_page %} FICHA DEL EMPLEADO {% endblock %}
{% block subtitle_page %}  {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Lista Empleado'%}">Listado de Empleados</a>
</li>
<li class="breadcrumb-item"><a href="#!">Empleado ({{object.pk}})</a>
</li>
{% endblock %}

{% block content %}
<!--banner-->
<div class="row">
<div class="col-lg-12">
    <div class="cover-profile">
        <div class="profile-bg-img">
            <img class="profile-bg-img img-fluid" src="{% static 'assets/images/user-profile/1.png' %}" alt="bg-img">
            <div class="card-block user-info">
                <div class="col-md-12">
                    <div class="media-left">
                        <a href="#" class="profile-image">

{% if object.imagen  %}
                            <img class="user-img img-radius" src="{{object.imagen.url}}" style="width: 100px; height:100px;" alt="user-img">
                            {% else %}
<img class="user-img img-radius" src="{% static 'assets/images/user-profile/user.png' %}" style="width: 100px; height:100px;" alt="user-img">
                            {% endif %}
                        </a>
                    </div>
                    <div class="media-body row">
                        <div class="col-lg-12">
                            <div class="user-title">
                                <h2>{{object.nombre |title}} {{object.segundo_nombre |title}} {{object.apellido |title}} {{object.segundo_apellido |title}}</h2>
                                <span class="text-white">{{object.codigo_rac.codigo_cargo.cargo |title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--datos de postulacion Tabs-->
<div class="card">
<!--    <div class="card-header"><h5 style="text-transform: uppercase;"></h5>
    </div>-->


    <div class="card-block">
        <div class="view-info">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <!-- Titulo Tabs -->
                    <ul class="nav nav-tabs md-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home3" role="tab">Datos Personales</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile3" role="tab">Datos de Habitación</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages3" role="tab">Datos Bancarios</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages4" role="tab">Datos de Estructuras</a>
                            <div class="slide"></div>
                        </li>
                    </ul>
                    <!-- Tab Info -->
                    <div class="tab-content card-block">
                        <!-- Tab Datos Personales -->
                        <div class="tab-pane active" id="home3" role="tabpanel">
                        <div class="card-block">
        <div class="view-info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-info">
                        <div class="row">
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Primer Nombre</th>
                                                <td>{{object.nombre |title}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Segundo Nombre</th>
                                                <td>{{object.segundo_nombre |title}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Primer Apellido</th>
                                                <td>{{object.apellido |title}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Segundo Apellido</th>
                                                <td>{{object.segundo_apellido |title}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Cédula</th>
                                                <td>{{object.nacionalidad |title}}-{{object.cedula |title}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">RIF</th>
                                                <td>{{object.rif |title}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                                <th scope="row">Género</th>
                                                <td>{{object.get_genero_display}}</td>
                                            </tr>
                                        <tr>
                                                <th scope="row">Nacionalidad</th>
                                                <td>{{object.nacionalidad |title}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Fecha de Nacimiento</th>
                                                <td>{{object.fecha_nacimiento}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Edad</th>
                                                <td>{{object.get_age}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Estado Civil</th>
                                                <td>{{object.get_estado_civil_display}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Profesión</th>
                                                <td>{{object.profesion |title}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- end of general info -->
                </div>
                <!-- end of col-lg-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of view-info -->

        <!-- end of edit-info -->
    </div>
                        </div>
                        <!-- Tab Datos Habitación -->
                        <div class="tab-pane" id="profile3" role="tabpanel">
                        <div class="card-block">
        <div class="view-info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-info">
                        <div class="row">
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <tbody>
                                        <tr>
                                                <th scope="row">Dirección</th>
                                                <td>{{object.direccion |title}}</td>
                                            </tr>
                                             <tr>
                                                <th scope="row">Estado</th>
                                                <td>{{object.estado |title}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Municipio</th>
                                                <td>{{object.municipio |title}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table">

                                        <tbody>
                                        <tr>
                                                <th scope="row">Parroquia</th>
                                                <td>{{object.parroquia}}</td>
                                            </tr>
                                             <tr>
                                                <th scope="row">E-mail</th>
                                                <td>{{object.email}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Teléfono</th>
                                                <td>{{object.telefono}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- end of general info -->
                </div>
                <!-- end of col-lg-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of view-info -->

        <!-- end of edit-info -->
    </div>
                        </div>
                        <!-- Tab Datos Bancarios -->
                        <div class="tab-pane" id="messages3" role="tabpanel">
                            <div class="card-block">
        <div class="view-info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-info">
                        <div class="row">
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <tbody>
                                        <tr>
                                                <th scope="row">Forma de Pago</th>
                                                <td>{{object.get_forma_pago_display}}</td>
                                            </tr>
                                             <tr>
                                                <th scope="row">Tipo de Cuenta</th>
                                                <td>{{object.get_tipo_cuenta_display}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table">

                                        <tbody>

                                            <tr>
                                                <th scope="row">Entidad Bancaria</th>
                                                <td>{{object.banco |title}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Cuenta Bancaria</th>
                                                <td>{{object.cuenta}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- end of general info -->
                </div>
                <!-- end of col-lg-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of view-info -->

        <!-- end of edit-info -->
    </div>
                        </div>
                        <!-- Tab Datos Estructuras -->
                        <div class="tab-pane" id="messages4" role="tabpanel">
                            <div class="card-block">
        <div class="view-info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-info">
                        <div class="row">
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <tbody>
                                        <tr>
                                                <th scope="row">Cargo</th>
                                                <td>{{object.codigo_rac.codigo_cargo.cargo |title}}</td>
                                            </tr>
                                             <tr>
                                                <th scope="row">Departamento</th>
                                                <td>{{object.codigo_rac.codigo_departamento.descripcion |title}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table">

                                        <tbody>
                                            <tr>
                                                <th scope="row">Fecha de Ingreso</th>
                                                <td>{{object.fecha_ingreso}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Sueldo</th>
                                                <td>{{object.sueldo |title}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- end of general info -->
                </div>
                <!-- end of col-lg-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of view-info -->

        <!-- end of edit-info -->
    </div>
                        </div>
                    </div>
                </div>
                <!-- end of col-lg-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of view-info -->

        <!-- end of edit-info -->
    </div>
    <!-- end of card-block -->
</div>

{% endblock %}