{% extends 'base.html' %}
{% load static %}
{% block head_title %} Escalas de Sueldo{% endblock %}

{% block title_page %} Escalas de Sueldo {% endblock %}
{% block subtitle_page %} Totalidad de escalas de sueldo {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h5>Información General</h5>
        <span>Agregar, actualizar y/o eliminar escalas de sueldo.</span>
           <div style="text-align: right;"><a href="{%url 'Crear Escala'%}"><button class="btn btn-primary btn-round">Crear Escala</button></a></div>
    </div>

    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="base-style" class="table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Escala</th>
                        <th>Grado</th>
                        <th>Paso</th>
                        <th>Sueldo</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr>
                            <td> {{ object.pk }}</td>
                            <td>{{ object.get_escala_display }}</td>
                            <td>{{ object.grado  }}</td>
                            <td>{{ object.paso }}</td>
                            <td>{{ object.sueldo }}</td>
                            <td><a href="{% url 'Editar Escala' object.pk %}"><i style="font-size: 20px; margin-right: 15px;" class="fa fa-edit"></i></a>
                                <a href="{% url 'Eliminar Escala' object.pk %}"><i style="font-size: 20px;" class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Codigo</th>
                        <th>Escala</th>
                        <th>Grado</th>
                        <th>Paso</th>
                        <th>Sueldo</th>
                        <th>Acción</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
{% endblock %}