{% extends 'base.html' %}
{% load static %}
{% block head_title %} Pre-nómina {% endblock %}

{% block title_page %} Pre-nómina de Empleados  {% endblock %}
{% block subtitle_page %} {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h5>Información General</h5>
        <span>Agregar, actualizar y/o eliminar pre-nómina.</span>
           <div style="text-align: right;"><a href="{%url 'Crear Prenomina'%}"><button class="btn btn-primary btn-round">Crear Pre-nómina</button></a></div>
    </div>

    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="base-style" class="table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Fecha de Ejecución</th>
                        <th>Cantidad de Empleados</th>
                        <th>Monto Total</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.get_tipo_display |title }}</td>
                            <td>{{ object.descripcion |title  }}</td>
                            <td>{{ object.fecha_final }}</td>
                            <td>{{ object.pagos_empleados.count }}</td>
                            <td>{{ object.sumatoria }}</td>
                            <td><a href="{% url 'Ver Prenomina' object.pk %}"><i style="font-size: 20px; margin-right: 15px;"class="fa fa-eye"></i></a>
                                <a href="{% url 'Editar Prenomina' object.pk %}"><i style="font-size: 20px; margin-right: 15px;" class="fa fa-edit"></i></a>
                                <a href="{% url 'Eliminar Prenomina' object.pk %}"><i style="font-size: 20px;" class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Fecha de Ejecución</th>
                        <th>Cantidad de Empleados</th>
                        <th>Monto Total</th>
                        <th>Acción</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
{% endblock %}