{% extends 'base.html' %}
{% load static %}
{% block head_title %} Departamentos {% endblock %}

{% block title_page %} LISTADO DE DEPARTAMENTOS {% endblock %}
{% block subtitle_page %}  {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Lista Departamento'%}">Listado de Departamentos</a>
</li>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h5>Tabla de Información General</h5>
           <div style="text-align: right;"><a href="{%url 'Crear Departamento'%}"><button class="btn btn-primary btn-round">Crear Departamento</button></a></div>
    </div>

    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="base-style" class="table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Descripción</th>
                        <th>Cantidad Empleados</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.descripcion |title }}</td>
                            <td>{{ object.cantidad_empleado  }}</td>
                            <td><a href="{% url 'Editar Departamento' object.pk %}"><i style="font-size: 20px; margin-right: 15px;" class="fa fa-edit"></i></a>
                                <a href="{% url 'Eliminar Departamento' object.pk %}"><i style="font-size: 20px;" class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Descripción</th>
                        <th>Cantidad Empleados</th>
                        <th>Acción</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
{% endblock %}