{% extends 'base.html' %}
{% load widget_tweaks  %}
{% block head_title %} Crear Variable {% endblock %}
{% load static %}
{% block title_page %} CREACIÓN DE NUEVA FÓRMULA {% endblock %}
{% block subtitle_page %}  {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Lista Formulacion'%}">Listado de Fórmulas</a>
</li>
<li class="breadcrumb-item"><a href="#!">Crear</a>
</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>* Campo Obligatorio</h5>
        <span></span>
        <div class="card-header-right"><i class="icofont icofont-spinner-alt-5"></i></div>
    </div>
    <div class="card-block">
        <form method='POST' >
            {% csrf_token %}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Descripción *</label>
        <div class="col-sm-10">
        {% render_field form.descripcion class="form-control" type="text" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Formula *</label>
        <div class="col-sm-10">
        {% render_field form.formula  id='id_formula' readonly='readonly' class="form-control" type="text" %}
        </div>
    </div>

</form>
</div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-header-left">
            <h5>Calculadora</h5>
        </div>

    </div>
    <div class="card-block">
        <div class="submit-row">
<div>

<button class='btn btn-inverse btn-round' type="button" onclick="sueldo1()" >Sueldo</button>
<button class='btn btn-inverse btn-round'type="button" onclick="anosserv()" >Años Servicio</button>

<button class='btn btn-inverse btn-round'type="button" onclick="suma()" value="+">+</button>
<button class='btn btn-inverse btn-round'type="button" onclick="resta()" value="-">-</button>
<button class='btn btn-inverse btn-round'type="button" onclick="parentesis1()" value="(">(</button>
<button class='btn btn-inverse btn-round'type="button" onclick="parentesis2()" value=")">)</button>
<button class='btn btn-inverse btn-round'type="button" onclick="mult()" value="*">*</button>
</div>
<div style='margin-top:10px;'>

<button class='btn btn-inverse btn-round'type="button" onclick="i1()" value="0">1</button>
<button class='btn btn-inverse btn-round'type="button" onclick="i2()" value="1">2</button>
<button class='btn btn-inverse btn-round'type="button" onclick="i3()" value="2">3</button>
<button class='btn btn-inverse btn-round'type="button" onclick="i4()" value="3">4</button>
<button class='btn btn-inverse btn-round'type="button" onclick="i5()" value="4">5</button>
<button class='btn btn-inverse btn-round'type="button" onclick="i6()" value="5">6</button>
<button class='btn btn-inverse btn-round'type="button" onclick="i7()" value="6">7</button>
<button class='btn btn-inverse btn-round'type="button" onclick="i8()" value="7">8</button>
<button class='btn btn-inverse btn-round'type="button" onclick="i9()" value="8">9</button>
<button class='btn btn-inverse btn-round'type="button" onclick="i0()" value="9">0</button>

    <button class='btn btn-danger btn-round'  type="button" onclick="eraseText()">Limpiar</button>
</div></div></div></div>


        <div class="card">
    <div class="card-header">
        <div class="card-header-left">
            <h5>Variables</h5>
        </div>

    </div>
    <div class="card-block">
        <div class="submit-row">
<div>
<div class="content-box-large">
{% for object in object_list_2 %}

		<button class="btn btn-inverse btn-round" style="margin: 5px" onclick="p{{object.pk}}()">{{object.descripcion}}: {{ object.monto }}</button>


            <script>
function p{{object.pk}}(){

document.getElementById("id_formula").value += "{{ object.monto }}";
}
</script>
{% endfor %}
	</div>
</div></div>

    </div>
</div>




<script>
function anosserv(){

document.getElementById("id_formula").value += "(años-servicio)";
}
function sueldo1(){

document.getElementById("id_formula").value += "(sueldo) ";
}


function eraseText() {
document.getElementById("id_formula").value = "";
}

function suma(){

document.getElementById("id_formula").value += "+ ";
}

function resta(){

document.getElementById("id_formula").value += "- ";
}

function mult(){

document.getElementById("id_formula").value += "* ";
}

function parentesis1(){

document.getElementById("id_formula").value += "( ";
}

function parentesis2(){

document.getElementById("id_formula").value += ")";
}

function divi(){

document.getElementById("id_formula").value += "/";
}

function i1(){

document.getElementById("id_formula").value += "1";
}

function i2(){

document.getElementById("id_formula").value += "2";
}
function i3(){

document.getElementById("id_formula").value += "3";
}
function i4(){

document.getElementById("id_formula").value += "4";
}
function i5(){

document.getElementById("id_formula").value += "5";
}
function i6(){

document.getElementById("id_formula").value += "6";
}
function i7(){

document.getElementById("id_formula").value += "7";
}
function i8(){

document.getElementById("id_formula").value += "8";
}
function i9(){

document.getElementById("id_formula").value += "9";
}
function i0(){

document.getElementById("id_formula").value += "0";
}

</script>

    <div class="form-group">
            <input class="btn btn-success btn-round btn-block" type="submit" value="Guardar"></input>
    </div>
{% endblock %}

