{% extends 'base.html' %}
{% load static %}
{% block head_title %} Formulación {% endblock %}

{% block title_page %} LISTADO DE FÓRMULAS PARA CONCEPTOS DE PAGO {% endblock %}
{% block subtitle_page %}  {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Lista Formulacion'%}">Listado de Fórmulas</a>
</li>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h5>Tabla de Información General</h5>

           <div style="text-align: right;"><a href="{%url 'Crear Formulacion'%}"><button class="btn btn-primary btn-round">Crear Fórmula</button></a></div>
    </div>

    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="base-style" class="table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Descripcion</th>
                        <th>Fórmula</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.descripcion |title }}</td>
                            <td>{{ object.formula |title }}</td>
                            <td><a href="{% url 'Editar Formulacion' object.pk %}"><i style="font-size: 20px; margin-right: 15px;" class="feather icon-edit"></i></a>
                                <a href="{% url 'Eliminar Formulacion' object.pk %}"><i style="font-size: 20px;" class="feather icon-trash-2"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Descripcion</th>
                        <th>Fórmula</th>
                        <th>Acción</th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
{% endblock %}