{% load static %}

<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/modernizr/js/css-scrollbars.js' %}"></script>

<!-- i18next.min.js -->
<script type="text/javascript" src="{% static 'bower_components/i18next/js/i18next.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-i18next/js/jquery-i18next.min.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
<script src="{% static 'assets/js/menu/menu-sidebar-static.js' %}"> </script>
<!--<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>-->
    <!-- Custom js -->
    <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/pages/advance-elements/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/pages/advance-elements/bootstrap-datetimepicker.min.js' %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
