{% extends 'base.html' %}
{% load widget_tweaks  %}
{% block head_title %} Eliminar {{object.pk}} {% endblock %}
{% load static %}
{% block title_page %} Eliminar {{object.descripcion |title}}  {% endblock %}
{% block subtitle_page %} ¿Está seguro que desea eliminar permanentemente la variable seleccionada?  {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Lista Variable'%}">Listado de Variables</a>
</li>
<li class="breadcrumb-item"><a href="#!">Eliminar</a>
</li>
{% endblock %}

{% block content %}
<form method='POST' >{% csrf_token %}

    <button class='btn btn-danger btn-round'>Sí, Eliminar</button>

</form>
{% endblock %}