{% extends 'base.html' %}
{% load static %}
{% block head_title %} RAC {% endblock %}

{% block title_page %} LISTADO DE REGISTRO Y ASIGNACIÓN DE CARGO {% endblock %}
{% block subtitle_page %} {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Lista Rac'%}">Listado de R.A.C.</a>
</li>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h5>Tabla de Información General</h5>
           <div style="text-align: right;"><a href="{%url 'Crear Rac'%}"><button class="btn btn-primary btn-round">Crear R.A.C</button></a></div>
    </div>

    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="base-style" class="table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Departamento</th>
                        <th>Cargo</th>
                        <th>Escala</th>
                        <th>Cargo Ocupado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.codigo_departamento |title }}</td>
                            <td>{{ object.codigo_cargo |title }}</td>
                            <td>{{ object.codigo_escala |title }}</td>
                            <td>{{ object.cargo_ocupado |title }}</td>
                            <td><a href="{% url 'Editar Rac' object.pk %}"><i style="font-size: 20px; margin-right: 15px;" class="fa fa-edit"></i></a>
                                <a href="{% url 'Eliminar Rac' object.pk %}"><i style="font-size: 20px;" class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Departamento</th>
                        <th>Cargo</th>
                        <th>Escala</th>
                        <th>Cargo Ocupado</th>
                        <th>Acción</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
{% endblock %}